*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.smNav {
    height: 40px;
    position: relative;
}

.smNav ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    padding: 0 1em;
}

.searchBtn {
    background: 0 0;
    border: none;
    font-size: 14px;
    font-style: italic;
    color: white;
    font-weight: 100;
    line-height: 1.7em;
    padding: 5px;
    -webkit-transition: all .3s ease .1s;
    transition: all .3s ease .1s;
    width: 100px;
}

.searchBtn::placeholder {
    color: white;
}

.nav-item > form > input[type=text]:focus {
    background: 0 0;
    border: none;
    font-size: 14px;
    font-style: italic;
    color: white;
    font-weight: 100;
    line-height: 1.7em;
    padding: 5px;
    -webkit-transition: all .3s ease .1s;
    transition: all .3s ease .1s;
    width: 200px;
}

.mainNav ul li a {
    border-bottom: 3px solid #fff;
    border-left: 0 solid #d6d6d6;
    border-top: 3px solid #fff;
    color: #656565;
    float: left;
    font-size: 22px;
    font-weight: 400;
    height: 93px;
    line-height: 100px;
    margin: 0;
    padding: 0.5em 1em;
    height: 100%;
}

.mainNav ul li a:hover {
    background: rgba(240, 229, 229, 0.298);
}

.mobileNav {
    background-color: #00abf1;
}

.imgContainer {
    width: 100%;
    min-height: 45rem;
    padding: 0;
    position: relative;
}

.img1 {
    background-image: url("/images/1.jpg");
    height: 85%;
    background-size: cover;
}

.img1Txt {
    height: 15%;
    background-color: #00abf1;
    font-family: Roboto,sans-serif;
    font-size: .8em;
    line-height: 2.1rem;
}

.img2 {
    background-image: url("/images/2.jpg");
    height: 22.5rem;
    background-size: cover;
}

.img3 {
    background-image: url("/images/3.jpg");
    height: 22.5rem;
    background-size: cover;
}

.imgTxt {
    background-color: rgba(0,0,0,.4);
    border: 4px solid #fff;
    color: #fff;
    display: block;
    font-family: Roboto,sans-serif;
    margin: 2rem;
    padding: 30px;
    text-shadow: 0 0 7px rgba(0,0,0,.5);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 65%;
}

.imgTxt:hover {
    background-color: rgba(0,0,0,.7);
}

.mainTxt {
    font-size: 30px;
    line-height: 36px;
}

a {
    text-decoration: none;
}

.cardContainer img {
    background-size: cover;
}

.card {
    border: none;
}

.cardSubTxt {
    color: #656565;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
    text-transform: uppercase;
}

.cardHeading {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 1em;
    margin-top: 10px;
}

.seeMoreBtn {
    margin: 2em;
    text-align: center;
}

.seeMoreBtn a {
    background-color: #4c9f38;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 0.7em 1em;
    text-transform: uppercase;
}

.parallaxImg {
    background: url('/images/parallax.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.cta_item_content h3 {
    font-size: 34px;
    line-break: 38px;
}

.cta_item_content p {
    font-size: 23px;
    line-break: 38px;
    max-width: 800px;
}

.cta_item_content a {
    background-color: rgba(51,51,51,.3);
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2.24px;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 1.228em 2em;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color .25s ease-out,color .25s ease-out;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
}

.cta_item_content a:hover {
    background-color: rgba(0,0,0,.4);
}

.footer {
    background: #00abf1;
    color: #fff;
    min-height: 270px;
    padding: 2em 1em 0 2em;
    position: relative;
}

.footer .container {
    font-size: 18px;
}

.nav h2 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
}

.nav ul li {
    list-style: none;
}

.nav ul li a{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6em;
    color: #fff;
}

.nav ul li a:hover {
    color: hsla(0,0%,100%,.8);
}

.signNewsletter {
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2.24px;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 1.228em 2em;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color .25s ease-out,color .25s ease-out;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
}

.terms {
    color: hsla(0,0%,100%,.5);
    display: inline-block;
    font-size: 12px;
}

.terms a {
    margin: 0 5px;
    color: hsla(0,0%,100%,.5);
}

.terms a:hover {
    color: hsla(0,0%,100%,.8);
}

.socialIcons a {
  padding: 20px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.topics-body {
    background-color: #fff;
    clear: both;
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
}

.topics-header {
    background-color: #0084b4;
    margin: 0;
    padding: 0;
}

.topics-header-content {
    margin: 0 auto;
    max-width: 1240px;
    padding: 4.8611% 0;
}

.topics-header-content p {
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 65px;
}

.topics {
    margin: 0 auto;
    max-width: 1240px;
}

.topics p {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 46px;
}

.topics-heading {
    min-height: 4rem;
    background-color: #f2f2f2;
}

.topics-heading a{
    font-size: 1.5rem;
}

.post-img-container {
    height: 650px;
}

.post-img {
    background-color: rgba(0, 0, 0, .4);
    background-image: url('/images/post-header.jpg');
    background-size: cover;
    height: 100%;
}

.post-second-img {
    width: 75%;
}

.post-second-img em {
    font-size: .7rem;
}

.tags {
    font-size: .7em !important;
}

.tag-links {
    font-size: .9rem;
}

.topic-title {
    color: #00abf1;
}

.mng-pic {
    max-height: 190px;
}

.projects img {
    height: 170px;
}

.pr-name {
    font-size: 4em;
}

@media screen and (max-width: 1300px) {
    .mainNav ul li a {
        font-size: 17px;
    }

    .footer .container {
        font-size: 15px;
    }

    .topics-header-content p {
        font-size: 2.7rem;
    }

    .topics p {
        font-size: 1.3rem;
    }

    .topics-heading a{
        font-size: 1.2rem;
    }

    .post-img-container {
        height: 500px;
    }

    .post-second-img em {
        font-size: .6rem;
    }
}

@media screen and (max-width: 680px) {
    .cta_item_content h3 {
        font-size: 28px;
    }

    .cta_item_content p {
        font-size: 20px;
    }

    .topics-header-content p {
        font-size: 2.2rem;
    }

    .topics p {
        font-size: 1.6rem;
    }

    .topics-heading a{
        font-size: 1.2rem;
    }

    .post-img-container {
        height: 300px;
    }

    .page-title {
        font-size: .9rem !important;
    }

    .date {
        font-size: .8rem !important;
    }

    .post-second-img {
        width: 100%;
    }

    .post-second-img em {
        font-size: .5rem;
    }

    .pr-name {
        font-size: 3em;
    }
}

@media screen and (max-width: 515px) {
    .imgTxtHeading {
        font-size: 1.2rem !important;
    }

    .cta_item_content h3 {
        font-size: 20px;
    }

    .cta_item_content p {
        font-size: 16px;
    }

    .topics-header-content p {
        font-size: 1.9rem;
    }

    .topics p {
        font-size: 1.4rem;
    }

    .topics-heading a{
        font-size: 1rem;
    }

    .post-title {
        font-size: 1.2rem !important;
    }

    .pr-name {
        font-size: 2em;
    }
}

